* {
  margin: 0px;
}

.bg-grey {
  background: #f7f7f7;
}

section>.container {
  max-width: 1170px;
}

#nav-bar {
  text-align: center;
}

/* ========================== MINE ========================== */
:root {
  --banner-height: 66vh;
  --main-color: #199CDB;
  --text-opacity: 0.6;
  --nav-bar-height: 65px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

ol,
ul {
  padding-left: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* ============= BANNER ============= */
#banner {
  background: url(../images/banner.jpg) top center / cover no-repeat;
  position: relative;
  min-height: var(--banner-height);
}

#banner .heading,
#banner .sub-heading {
  position: absolute;
  width: 100%;
  font-size: 48px;
  text-align: center;
  font-weight: normal;

  z-index: 1;
  color: #fff;
  margin-top: 7%;
}

#banner .sub-heading {
  padding: 65px;
  font-size: 15px;
  opacity: var(--text-opacity);
}

#banner::after {
  min-height: var(--banner-height);
  background-color: #212529;
  content: "";
  display: block;
  opacity: 0.5;
}

/* ============= NAV-BAR ============= */
#nav-bar {
  background-color: #fff;
}

#nav-bar .container nav {
  min-height: var(--nav-bar-height);
  max-width: 994px;
}

#nav-bar .container nav {
  margin: auto;
}

.container.sticky-top {
  max-width: 994px;
}

#nav-bar .container a,
#nav-bar .container .info {
  height: var(--nav-bar-height);
  border: 1px solid #e9ecef;
}

#nav-bar .container i[class*="fa-"] {
  color: var(--main-color);
}

#nav-bar .container a {
  color: #000;
  padding-top: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

#nav-bar .info h1 {
  font-size: 28px;
  line-height: 1;
  margin-top: 6px;
  margin-block-end: 0px;
}

#nav-bar .info span {
  font-size: 13px;
  opacity: var(--text-opacity);
}

a span {
  font-size: 13px;
}

/* avatar */
#nav-bar .info {
  position: relative;
}

.info-avatar {
  position: absolute;
  left: 50%;
  top: -57px;
  transform: translateX(-50%);

  min-height: 200px;
  width: 200px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.info-avatar img {
  width: 180px;
  border-radius: 50%;
}

/* ============= ABOUT ============= */
#about .container {
  margin: 0;
  padding: 0;

  min-height: 422px;
  max-width: 100%;
}

#about .container #target {
  padding: 90px 50px 40px 30px;
}

#about .container #personal-info {
  padding: 90px 50px 40px;
}

#about .container #personal-info {
  background-color: #F0F0F0;
  min-height: 422px;
}

#about #personal-info p {
  margin: 0;
}

#about .container .section-title {
  font-size: 30px;
  margin-bottom: 30px;
}

#target p,
#target b,
#personal-info .info {
  opacity: var(--text-opacity);
}

#personal-info .info span {
  font-weight: bold;
  line-height: 2;
}

#personal-info .social-list li {
  display: inline-block;
  margin-top: 30px;
  padding-right: 10px;
}

.social-list li i {
  color: var(--main-color);
}

/* ============= JOB-INFO ============= */
#job-info .container {
  gap: 30px;

  max-width: 1200px;
  padding: 40px 0 30px 0;
}

#job-info .job-info-item {
  border: 1px solid #ddd;
  padding: 56px 28px 0 28px;
}


#job-info .col:nth-child(1) .job-info-item,
#job-info .col:nth-child(2) .job-info-item,
#job-info .col:nth-child(3) .job-info-item {
  min-height: 636px;
}

#job-info .col:nth-child(4) .job-info-item,
#job-info .col:nth-child(5) .job-info-item,
#job-info .col:nth-child(6) .job-info-item {
  min-height: 454px;
}


.job-info-item .jii-heading {
  display: grid;
  grid-template-columns: 75% 25%;
  padding-bottom: 20px;
}

.jii-heading h1 {
  font-size: 26px;
  font-weight: 500;
  padding-top: 8px;
}

.jii-heading i {
  opacity: 0.15;
  font-size: 50px;
}

/* job-info-item-content */
.jii-content .dot {
  color: var(--main-color);
  font-size: 8px;
  padding: 6px 22px 0 0;
  float: left;
}

.jii-content .jiic-item {
  padding-top: 32px;
}

.jiic-heading .heading {
  font-weight: 600;
  font-size: 14px;
}

.jiic-heading .sub-heading {
  padding: 0px 0 0px 28px;
  font-style: italic;
  font-size: 11px;
  margin-block-end: 8px;
}

.jiic-heading .sub-heading span {
  font-size: 11px;
  background-color: var(--main-color);
  padding: 3px 12px;
  border-radius: 6px;
  color: #fff;
}

.jiic-item .description {
  padding-left: 28px;
  opacity: var(--text-opacity);
}

/* under column 1 */
.job-info-item .hobbies-list,
.job-info-item .hobbies-name-list {
  opacity: var(--text-opacity);
  margin-top: 24px;
}

.job-info-item .hobbies-list i {
  color: var(--main-color);
  padding: 18px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  max-width: 54px;
  margin-bottom: 14px;
}

.job-info-item .hobbies-list li {
  padding: 0;
}

/* under column 2 3 */
.jii-content h3[class="lang-heading"]:first-child,
.jii-content h3[class="tech-heading"]:first-child {
  margin-top: 18px;
}

.jii-content h3[class="lang-heading"],
.jii-content h3[class="tech-heading"] {
  font-size: 14px;
  margin: 24px 0 8px;
}

.jii-content .level-skill-bar {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  max-width: 170px;
}

.jii-content .level-skill-bar div[class*="level"] {
  width: 46px;
}

.en-lang .level1,
.en-lang .level2,
.jp-lang .level1,
.html-skill .level1,
.javascript .level1,
.javascript .level2,
.nodejs-skill .level1,
.nodejs-skill .level2,
.bootstrap-skill .level1 {
  border: 1px solid var(--main-color);
}

.en-lang .level3,
.jp-lang .level2,
.jp-lang .level3,
.html-skill .level2,
.html-skill .level3,
.javascript .level3,
.nodejs-skill .level3,
.bootstrap-skill .level2,
.bootstrap-skill .level3 {
  border: 1px solid #eee;
}

/* certificate */
#project .container,
#certificate .container {
  padding: 0;
  margin: 0 auto;
  min-height: 510px;
  max-width: 1190px;
}


.certificate-item {
  margin: 0 -2px;
}

.certificate-item .item-img img {
  height: 110px;
}

.item-content .item-heading {
  padding: 4px 0 8px;
  font-size: 14px;
}

.item-content .detail {
  opacity: var(--text-opacity);
}

.row-line {
  min-height: 110px;
  width: 0;
  padding: 0;
  border: 1px solid rgba(185, 125, 15, 0.294);
}

.column-line {
  height: 0;
  max-width: 1174px;
  border: 1px solid rgba(185, 125, 15, 0.294);
}

/* project */
#project .container {
  min-height: 742px;
}

#project .project-content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 370px);

  padding: 32px 0 0 16px;
}

.project-content .project-item {
  font-weight: 600;
  max-width: 370px;
}

.project-item .project-img {
  max-width: 370px;
  display: block;
}

.project-item .pi-body {
  min-height: 300px;
  border: 1px solid #eee;
}

.project-item>.pi-body>div {
  border-top: 1px solid #ddd;
  padding: 8px;
}

.pi-body>div>p {
  font-size: 13px;
  display: inline-block;
  opacity: var(--text-opacity);
}

.pi-body .tech,
.pi-body .detail,
.pi-body .task {
  display: grid;
  grid-template-columns: 74px auto;
  gap: 24px;
}

#project .pi-body .item-heading {
  padding: 16px;
}

.detail-heading span {
  font-size: 10px;
  border-radius: 24px;
  margin-left: 8px;
  color: #eee;
  padding: 8px 16px;
  background-color: var(--main-color);
}

.pi-body .detail-heading p,
.pi-body .detail-heading i {
  padding: 4px 8px;
  font-size: 15px;
}

/* certificate & project */
#certificate .container .section-title,
#project .container .section-title {
  font-size: 30px;
  padding: 58px 0 0px 16px;
}

#footer .container {
  min-height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-footer-list {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.social-footer-list i {
  color: #fff;
  max-width: 31px;
  min-height: 31px;
  font-size: 20px;
  background-color: var(--main-color);
  padding: 6px 7px;
  border-radius: 50%;
}

.social-footer-list li:last-child i {
  font-size: 32px;
  background: #f7f7f7;
  color: var(--main-color);
  padding: 0;
}

.social-footer-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-footer-list li span {
  opacity: var(--text-opacity);
}

/* More */
.space-page {
  min-height: 68px;
}

.column-line.first {
  display: none;
}